@CHARSET "UTF-8";
.container {
	padding: 20px;
	text-align: center;
}

.timer {
	margin-left: auto;
    margin-right: auto;
	
	padding:  10px;
	background: -webkit-linear-gradient(top, #222, #444);
	background: -moz-linear-gradient(top, #222, #444);
	background: -ms-linear-gradient(top, #222, #444);
	background: -o-linear-gradient(top, #222, #444);
	background: linear-gradient(top, #222, #444);
	overflow: hidden;
	display: inline-block;
	border: 7px solid #00bb00;
	border-radius: 5px;
	position: relative;	
	box-shadow: inset 0 -2px 10px 1px rgba(0, 0, 0, 0.75), 0 5px 20px -10px rgba(0, 0, 0, 1);
}

.cell {
	/*只显示一位数字. 高度 = 数字的行高，宽度 = 数字的宽度*/

	width: 0.60em;
	height: 40px;
	font-size: 50px;
	overflow: hidden;
	position: relative;
	float: left;
}

.numbers {
	width: 0.6em;
	line-height: 40px;
	font-family: digital, arial, verdana;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	/*数字发光效果*/
	text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

/*秒表控制器样式*/
#timer_controls {
	margin-top: 10px;
	display: inline;
	
}
#timer_controls label {
	 
	position: relative;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	border: 0;
	outline: 0;
	cursor: pointer;
	border-radius: 8px;
	text-shadow: -1px -1px 0.5px rgba(0,0,0,0.5);
	overflow: hidden;
	background: #0d0d0d;
	background-image: -moz-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	background-image: -webkit-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	background-image: -o-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	background-image: -ms-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	background-image: linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px 2px 1px 0px rgba(255,255,255,0.75);
	-moz-transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}
#timer_controls label:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('images/bg.png');
}
#timer_controls label:hover {
	background-color: #00ff00;
	color: #fff !important;
}
#timer_controls label:active {
	background-image: -moz-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
	background-image: -webkit-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
	background-image: -o-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
	background-image: -ms-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
	background-image: linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
	box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px -2px 1px 0px rgba(255,255,255,0.75);
	top: 1px;
}
#timer_controls label
	{
	    margin:0 5px;
		padding: 0.9em 1.3em 0.9em 1.3em;
		font-size: 1.3em;
	}

		#timer_controls label-big
		{
			font-size: 1.5em;
			letter-spacing: -0.025em;
		}

input[name="controls"] {display: none;}

/*Control code*/
/*秒表暂停运转*/
#stop:checked~.timer .numbers {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	-ms-animation-play-state: paused;
	animation-play-state: paused;
}
/*秒表开始运转*/
#start:checked~.timer .numbers {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  -ms-animation-play-state: running;
  animation-play-state: running;
}
/*重置秒表*/
#reset:checked~.timer .numbers {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
}

.moveten {
	/*使用分步骤来移动数字，10个数字等于10步*/
	-webkit-animation: moveten 1s steps(10, end) infinite;
	-moz-animation: moveten 1s steps(10, end) infinite;
	-o-animation: moveten 1s steps(10, end) infinite;
	-ms-animation: moveten 1s steps(10, end) infinite;
	animation: moveten 1s steps(10, end) infinite;
	/*默认情况下动画是停止不动的*/
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	-ms-animation-play-state: paused;
	animation-play-state: paused;
}
.movetwo {
	/*使用分步骤来移动数字，10个数字等于10步*/
	-webkit-animation: movetwo 1s steps(10, end) infinite;
	-moz-animation: movetwo 1s steps(10, end) infinite;
	-o-animation: movetwo 1s steps(10, end) infinite;
	-ms-animation: movetwo 1s steps(10, end) infinite;
	animation: movetwo 1s steps(10, end) infinite;
	/*默认情况下动画是停止不动的*/
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	-ms-animation-play-state: paused;
	animation-play-state: paused;
}
.movesix {
	-webkit-animation: movesix 1s steps(6, end) infinite;
	-moz-animation: movesix 1s steps(6, end) infinite;
	-o-animation: movesix 1s steps(6, end) infinite;
	-ms-animation: movesix 1s steps(6, end) infinite;
	animation: movesix 1s steps(6, end) infinite;
}

/*同步时间的速率*/
/*每秒十个数字，因此也需要十步*/
.second {
 -webkit-animation-duration: 10s;
 -moz-animation-duration: 10s;
 -o-animation-duration: 10s;
 -ms-animation-duration: 10s;
 animation-duration: 10s;
}
.tensecond {
  /*60 times .second*/
  -webkit-animation-duration: 60s;
  -moz-animation-duration: 60s;
  -o-animation-duration: 60s;
  -ms-animation-duration: 60s;
  animation-duration: 60s;
} 

.milisecond {
  /*1/10th of .second*/
  -webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	-ms-animation-duration: 1s;
	animation-duration: 1s;
} 
.tenmilisecond {
  -webkit-animation-duration: 0.1s;
  -moz-animation-duration: 0.1s;
  -ms-animation-duration: 0.1s;
  -o-animation-duration: 0.1s;
  animation-duration: 0.1s;
}
.hundredmilisecond {
  -webkit-animation-duration: 0.01s;
  -moz-animation-duration: 0.01s;
  -o-animation-duration: 0.01s;
  -ms-animation-duration: 0.01s;
  animation-duration: 0.01s;
}

.minute {
  /*60 times .second*/
  -webkit-animation-duration: 600s;
	-moz-animation-duration: 600s;
	-o-animation-duration: 600s;
	-ms-animation-duration: 600s;
	animation-duration: 600s;
} 
.tenminute {
  /*60 times .minute*/
  -webkit-animation-duration: 3600s;
	-moz-animation-duration: 3600s;
	-ms-animation-duration: 3600s;
	-o-animation-duration: 3600s;
	animation-duration: 3600s;
} 

.hour {
  /*60 times .minute*/
  -webkit-animation-duration: 36000s;
	-moz-animation-duration: 36000s;
	-ms-animation-duration: 36000s;
	-o-animation-duration: 36000s;
	animation-duration: 36000s;
} 
.tenhour {
  /*10 times .hour*/
  -webkit-animation-duration: 360000s;
	-moz-animation-duration: 360000s;
	-o-animation-duration: 360000s;
	-ms-animation-duration: 360000s;
	animation-duration: 360000s;
} 

/*------------------------------------------------------------*\
1、动画的逻辑就是给数字使用了绝对定位，改变“top”的属性值；
2、分 和 秒 应该是 '60' 而不是 '100'，因此需要创建两个动画；
3、十步十个数字
4、六步六个数字
\*-------------------------------------------------------------*/
@-webkit-keyframes moveten {
	0% {top: 0;}
	100% {top: -400px;} 
	/*height = 40. digits = 10. hence -400 to move it completely to the top*/
}

@-webkit-keyframes movesix {
	0% {top: 0;}
	100% {top: -240px;} 
	/*height = 40. digits = 6. hence -240 to move it completely to the top*/
}

@-moz-keyframes moveten {
	0% {top: 0;}
	100% {top: -400px;} 
	/*height = 40. digits = 10. hence -400 to move it completely to the top*/
}

@-moz-keyframes movesix {
	0% {top: 0;}
	100% {top: -240px;} 
	/*height = 40. digits = 6. hence -240 to move it completely to the top*/
}
@-o-keyframes moveten {
	0% {top: 0;}
	100% {top: -400px;} 
	/*height = 40. digits = 10. hence -400 to move it completely to the top*/
}

@-o-keyframes movesix {
	0% {top: 0;}
	100% {top: -240px;} 
	/*height = 40. digits = 6. hence -240 to move it completely to the top*/
}
@-ms-keyframes moveten {
	0% {top: 0;}
	100% {top: -400px;} 
	/*height = 40. digits = 10. hence -400 to move it completely to the top*/
}

@-ms-keyframes movesix {
	0% {top: 0;}
	100% {top: -240px;} 
	/*height = 40. digits = 6. hence -240 to move it completely to the top*/
}
@keyframes moveten {
	0% {top: 0;}
	100% {top: -400px;} 
	/*height = 40. digits = 10. hence -400 to move it completely to the top*/
}

@keyframes movesix {
	0% {top: 0;}
	100% {top: -240px;} 
	/*height = 40. digits = 6. hence -240 to move it completely to the top*/
}
/*Lets use a better font for the numbers*/
@font-face {
	font-family: 'digital';
	src: url('http://thecodeplayer.com/uploads/fonts/DS-DIGI.TTF');
	
}
			.tab {
				position: relative;
				width:1200px;
				height: 500px;
				overflow: hidden;
				margin: 0 auto  0px auto;
				font-family: Arial;
	 
			}
			.tab-nav {
				height: 30px;
				overflow: hidden;
				background: #f3f3f3;
			}
			.tab-nav a {
				display: block;
				float: left;
				width: 120px;
				height: 40px;
				line-height: 30px;
				text-align: center;
				text-decoration: none;
				color: #333;
				font-size:20px;
				font-weight:700;
			}
			.tab-nav a.current {
				background: #00BB00;
				color: #fff;
			}
			.tab-con {
				position: relative;
				width: 1200px;
				height: 500px;
				 
				background: #fff;
				overflow-y:auto
			}
			.tab-con-item {
			    padding: 15px 45px 15px 25px;
				display: none;
				width: 1200px;
				height: 500px;
				line-height: 20px;
				text-align: center;
				color: #000;
				overflow-y:auto
			}
			.content{
			   
			}
			.info{
			    float:left;
			    margin:10px 20px;
			    font-size:18px;
			    color:#000;
			    width:100%;
			    text-align:left;
			    font-weight:bold;
			    background-color:#E0E0E0;
			}
			.detail{
			
			    font-weight:600;
			    font-size:16px;
			    display:inline;
			    color:#333; 
			}
			.cont10{
		        text-align:left;
			}
			.analy{
		        text-align:left;
			}