/*
	Miniport 1.0 
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body, input, textarea {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.85em;
	color: #888;
	font-weight: 300;
}
a {
	color: #3B95C6;
	text-decoration: none;
	-moz-transition: color .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
a:hover {
	
}
strong, b {
	font-weight: 600;
	color: #3e3e3e;
}
h1, h2, h3, h4, h5, h6 {
	color: #3e3e3e;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
	color: inherit;
}
h2, h3, h4, h5, h6 {
	font-weight: 700;
}
h1 {
	font-weight: 300;
}
h1 strong {
	font-weight: 700;
}
em, i {
	font-style: italic;
}
form {
}
form input,  form select,  form textarea {
	-webkit-appearance: none;
}
form input[type=text],  form input[type=password],  form select,  form textarea {
	width: 100%;
	border: 0;
	padding: 0.75em;
	font-size: 1em;
	border-radius: 8px;
	background: #000000;
	color: #ffffff;
	box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.05), 0px 1px 0px 0px rgba(255,255,255,0.025);
}
form input[type=text]:focus,  form input[type=password]:focus,  form select:focus,  form textarea:focus {
	box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.05), 0px 1px 0px 0px rgba(255,255,255,0.025), 0px 0px 2px 2px #74CAEE;
}
form textarea {
	height: 15em;
}
form .formerize-placeholder {
	color: #999 !important;
}
 form ::-webkit-input-placeholder {
 color: #999 !important;
}
 form :-moz-placeholder {
 color: #999 !important;
}
 form ::-moz-placeholder {
 color: #999 !important;
}
 form :-ms-input-placeholder {
 color: #999 !important;
}
 form ::-moz-focus-inner {
 border: 0;
}
br.clear {
	clear: both;
}
p, ul, ol, dl, table {
	margin-bottom: 2em;
}
section,  article {
	margin-bottom: 3em;
}
section > :last-child,  article > :last-child {
	margin-bottom: 0;
}
section:last-child,  article:last-child {
	margin-bottom: 0;
}
.image {
	display: inline-block;
}
.image img {
	display: block;
	width: 100%;
}
.image-full {
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}
.image-left {
	float: left;
	margin: 0 2em 2em 0;
}
.image-centered {
	display: block;
	margin: 0 0 2em 0;
}
.image-centered img {
	margin: 0 auto;
	width: auto;
}
.button {
	position: relative;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	border: 0;
	outline: 0;
	cursor: pointer;
	border-radius: 8px;
	text-shadow: -1px -1px 0.5px rgba(0,0,0,0.5);
	overflow: hidden;
	background: #61b8db;
	background-image: -moz-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	background-image: -webkit-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	background-image: -o-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	background-image: -ms-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	background-image: linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px 2px 1px 0px rgba(255,255,255,0.75);
	-moz-transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}
.button:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('images/bg.png');
}
.button:hover {
	background-color: #00ff00;
	color: #fff !important;
}
.button:active {
	background-image: -moz-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
	background-image: -webkit-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
	background-image: -o-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
	background-image: -ms-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
	background-image: linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
	box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px -2px 1px 0px rgba(255,255,255,0.75);
	top: 1px;
}
.button-alt {
	background-color: #393939;
	background-image: -moz-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
	background-image: -webkit-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
	background-image: -o-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
	background-image: -ms-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
	background-image: linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
	box-shadow: inset 0px 0px 0px 1px #242424, inset 0px 2px 1px 0px rgba(255,255,255,0.2);
}
.button-alt:hover {
	background-color: #444;
}
.button-alt:active {
	background-image: -moz-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
	background-image: -webkit-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
	background-image: -o-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
	background-image: -ms-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
	background-image: linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
	box-shadow: inset 0px 0px 0px 1px #242424, inset 0px -2px 1px 0px rgba(255,255,255,0.2);
}
.button-big {
}
.button2{
	position: relative;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	border: 0;
	outline: 0;
	cursor: pointer;
	border-radius: 8px;
	text-shadow: -1px -1px 0.5px rgba(0,0,0,0.5);
	overflow: hidden;
	background: #61b8db;
	background-image: -moz-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	background-image: -webkit-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	background-image: -o-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	background-image: -ms-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	background-image: linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px 2px 1px 0px rgba(255,255,255,0.75);
	-moz-transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}
.button2:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('images/bg.png');
}
.button2:hover {
	background-color: #00ff00;
	color: #fff !important;
}
.button2:active {
	background-image: -moz-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
	background-image: -webkit-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
	background-image: -o-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
	background-image: -ms-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
	background-image: linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
	box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px -2px 1px 0px rgba(255,255,255,0.75);
	top: 1px;
}
.button-alt {
	background-color: #393939;
	background-image: -moz-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
	background-image: -webkit-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
	background-image: -o-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
	background-image: -ms-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
	background-image: linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
	box-shadow: inset 0px 0px 0px 1px #242424, inset 0px 2px 1px 0px rgba(255,255,255,0.2);
}
.button-alt:hover {
	background-color: #444;
}
.button-alt:active {
	background-image: -moz-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
	background-image: -webkit-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
	background-image: -o-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
	background-image: -ms-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
	background-image: linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
	box-shadow: inset 0px 0px 0px 1px #242424, inset 0px -2px 1px 0px rgba(255,255,255,0.2);
}
.button-big {
}
ul.social {
	cursor: default;
	margin: 0;
}
ul.social li {
	position: relative;
	display: inline-block;
	margin: 0.25em;
	top: 0;
	border-radius: 6px;
	overflow: hidden;
	background: #444;
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	-moz-transition: background-color .2s ease-in-out, top .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out, top .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out, top .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out, top .2s ease-in-out;
	transition: background-color .2s ease-in-out, top .2s ease-in-out;
	box-shadow: inset 0px 0px 0px 1px #282828, inset 0px 2px 1px 0px rgba(255,255,255,0.1);
}
ul.social li a {
	display: block;
	position: relative;
	background: url('images/social.png');
	width: 48px;
	height: 48px;
	text-indent: -9999em;
	outline: 0;
}
ul.social li.facebook a {
	background-position: 0px 0px;
}
ul.social li.facebook:hover {
	background-color: #3C5A98;
}
ul.social li.twitter a {
	background-position: -48px 0px;
}
ul.social li.twitter:hover {
	background-color: #2DAAE4;
}
ul.social li.rss a {
	background-position: -96px 0px;
}
ul.social li.rss:hover {
	background-color: #F2600B;
}
ul.social li.dribbble a {
	background-position: -144px 0px;
}
ul.social li.dribbble:hover {
	background-color: #C4376B;
}
ul.social li.linkedin a {
	background-position: -192px 0px;
}
ul.social li.linkedin:hover {
	background-color: #006599;
}
ul.social li.tumblr a {
	background-position: -240px 0px;
}
ul.social li.tumblr:hover {
	background-color: #51718A;
}
ul.social li.googleplus a {
	background-position: -288px 0px;
}
ul.social li.googleplus:hover {
	background-color: #DA2713;
}
ul.social li:hover {
	top: -5px;
}
ul.social li:active {
	top: 0;
}
.box {
	background: #fff;
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.15), 0px 2px 3px 0px rgba(0,0,0,0.1);
	text-align: center;
}
.box .image-full {
	position: relative;
}
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

.wrapper {
	background-image: url('../images/bg.png');
	box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.05), inset 0px 2px 3px 0px rgba(0,0,0,0.1);
}
.wrapper-first {
	box-shadow: none;
}
.wrapper-style1 {
	background: url('../images/bg.png')  fixed 0 0;
}
.wrapper-style2 {
	background: url('../images/bg.png')  fixed 0 0;
	margin-top:80px;
	border-bottom:3px solid #e5e5e5;
	font-weight:bold;
}
.wrapper-style3 {
	background: url('../images/bg.png')  fixed 0 0;
	border-bottom:3px solid #e5e5e5;
}
.wrapper-style4 {
	background: url('../images/bg.png')  fixed 0 0;
	color: #999;
	text-shadow: -1px -1px 0px #181818;
	border-bottom:3px solid #e5e5e5;
}
.wrapper-style5 {
	background: url('../images/bg.png')  fixed 0 0;
	border-bottom:3px solid #e5e5e5;
}
.wrapper-style4 h1,  .wrapper-style4 h2,  .wrapper-style4 h3,  .wrapper-style4 h4,  .wrapper-style4 h5,  .wrapper-style4 h6 {
	color: #fff;
}
.wrapper-style4 .row-special {
	border-top: solid 1px rgba(0,0,0,0.5);
	border-bottom: solid 1px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.1), 0px 1px 0px 0px rgba(255,255,255,0.1);
}
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

#nav {
	background: url('../images/nav.png') 0 0 repeat-x;
	text-align: left;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10000;
	cursor: default;
	border-bottom:3px solid #e5e5e5;
}

#nav ul {
	margin: 0px;
	height:75px;
    font-family: "Lucida Grande",Arial,Helvetica,sans-serif;
}
#nav li {
	display: inline-block;
}
#nav a {
	position: relative;
	display: block;
	color: #00A600;
	text-decoration: none;
	outline: 0;
}
#nav a:hover {
	color: #FFF !important;
}
#nav a.active:before {
	content: '';
	display: block;
	position: absolute;
	bottom: -0.6em;
	left: 50%;
	margin-left: -0.75em;
	border-left: solid 0.75em transparent;
	border-right: solid 0.75em transparent;
	border-top: solid 0.6em #282828;
}
.spnav {text-align: center;}
.spul {margin:0;}
/*********************************************************************************/
/* Articles                                                                      */
/*********************************************************************************/

#top {
}
#top .me {
	border-radius: 50%;
	overflow: hidden;
}
#top p {
}
#top p a {
	color: inherit;
}
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
	color: #666;
}
#copyright a {
	color: inherit;
	-moz-transition: color .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
#copyright a:hover {
	color: #777;
}
/*==================boxes====================*/
.box {
	background-image:url(../images/box-bg.png);
	background-repeat:no-repeat;
	background-position:0 0;
	padding:20px 19px 53px 19px;
	line-height:20px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	behavior:url(js/PIE.htc);
	position:relative;
	text-align:left;
}
	.box a {color:#fff;}
	.box .button1 {
		right:19px;
		bottom:-19px;
	}
	
.box.color1 {
	background-color:#95b603;
	color:#dbe7a8;
	width:23%;
	float:left;
	margin-left:17px;
}
	.box.color1 h11 {
		border-color:#b2cd3f;
	}
	.box.color1 .button1 {
		background-color:#a1c501;
		cursor: pointer;
	}
.box.color2 {
	background-color:#52afed;
	color:#c2e2f8;
	width:23%;
	float:left;
	margin-left:17px;
}
	.box.color2 h11 {
		border-color:#7ec3f0;
	}
	.box.color2 .button1 {
		background-color:#61baf4;
		cursor: pointer;
	}	
.box.color3 {
	background-color:#eb3d25;
	color:#f7c1ba;
	width:23%;
	float:left;
	margin-left:17px;
}
	.box.color3 h11 {
		border-color:#ea7566;
	}
	.box.color3 .button1 {
		background-color:#f7543d;
		cursor: pointer;
	}	
.box.color4 {
	background-color:#FF8800 ;
	color:#e8a4d5;
	width:23%;
	float:left;
	margin-left:17px;
}
	.box.color4 h11 {
		border-color:#ea7566;
	}
	.box.color4 .button1 {
		background-color:#FF8800;
		cursor: pointer;
	}
	.box .inner { 
		padding:18px 3px 0 3px;
		
	}
	.box .inner1 { 
		padding:25px 3px 0 3px;
		font-weight:bold;
		 color:#fff;
	}
	.box .inner1 img{
	padding:10px 25px;
	}
.clearfix {
	display: block;
	margin-top:50px;
	
}
.clearfix {
	display: inline-block;
}
.row001 {
	border-bottom:5px solid #e3e3e3;
	padding-bottom:60px;
	margin-bottom:50px;
}
.button1 { 
	display:inline-block;
	position:absolute;
	font-size:11px;
	color:#fff;
	padding:0 21px 0 21px;
	line-height:40px;
	background-image:url(../images/button-shad.png);
	background-repeat:repeat-x;
	background-position:0 100%;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	behavior:url(js/PIE.htc);
}
	.button1 span {
		display:block;
		background:url(../images/blink.png) no-repeat 0 0;
		width:75px;
		height:13px;
		overflow:hidden;
		position:absolute;
		left:50%;
		top:-4px;
		margin-left:-38px;
	}
.button1:hover {
	text-shadow:0 0 5px #fff;
}
h11 {
	width:80%;
	font-size:36px;
	font-weight:700;
	text-transform:uppercase;
	color:#fff !important;
	border-bottom:1px solid #fff;
	position:relative;
	padding:6px 0 14px 60px;
	height:1%;
	margin-bottom:22px;
	line-height:18px !important;
	text-shadow:1px 1px 0 rgba(0, 0, 0, .3);
}
h12 {
	width:80%;
	font-size:26px;
	font-weight:700;
	text-transform:uppercase;
	color:#fff !important;
	border-bottom:1px solid #fff;
	position:relative;
	padding:6px 0 14px 60px;
	height:1%;
	margin-bottom:22px;
	line-height:18px !important;
	text-shadow:1px 1px 0 rgba(0, 0, 0, .3);
}
	h11 img {
		position:absolute;
		left:0;
		top:0;
		float:left;
		
}
	h12 img {
		position:absolute;
		left:0;
		top:0;
		float:left;
		
}

